$algorithm: #264653;
$misc: #e76a4b;
$ui: #2a9d8f;
$frontend: #f4a261;
$backend: #e9c46a;
$background: #fef2eb;
$text: #0c0909;

%character-img {
  height: 5rem;
  margin: 10px;
}

body {
  font-family: monaco;
  color: $text;
  background-color: $algorithm;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#gameView {
  display: flex;
  justify-content: center;
}

#theGame {
  display: flex;
}

#panelL {
  width: 300px;
  display: flex;
  background-color: burlywood;
}

#panelR {
  width: 300px;
  display: flex;
  background-color: aquamarine;
}

#gameViewTitle {
  text-align: center;
  width: 100%;
}

button {
  margin: 10px;
}

.welcome {
  padding: 50px;
  margin: auto;
  text-align: center;
  background-color: $background;
  width: 50%;
}

#buttonArea {
  padding: 20px;
}

#characterBox {
  /* display: flex; */
  width: 70%;
  margin: auto;
  padding: 25px;
}

.responsive-img {
  @extend %character-img;
  &:hover {
    transform: scale(1.2);
    box-shadow: 1 0 10px rgba(0, 0, 0, 0.5);
  }
}

.selectedChar {
  transform: scale(1.2);
  box-shadow: 10 10px rgba(0, 0, 0, 0.5);
}

.responsive-img-lobby {
  @extend %character-img;
}

.playerName {
  color: $ui;
}

//   .playerInLobby {
//       border: 2px solid $misc;
//       border-radius: 50px;
//       margin: 20px;
//       width: 25%;
//       box-shadow: 10 10px rgba(0, 0, 0, 0.5);
//   }
