body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#gameView {
  display: flex;
  justify-content: center;
}

#theGame {
  display: flex;
}

#panelL {
  width: 300px;
  display: flex;
  background-color: burlywood;
}

#panelR {
  width: 300px;
  display: flex;
  background-color: aquamarine;
}

#gameViewTitle {
  text-align: center;
  width: 100%;
}
