.responsive-img-lobby,
.responsive-img {
  height: 5rem;
  margin: 10px;
}

body {
  font-family: monaco;
  color: #0c0909;
  background-color: #38677a;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav button {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#gameViewTitle {
  text-align: center;
  width: 100%;
  color: white;
}

button {
  margin: 10px;
  background-color: #e9c46a;
  border: #e76a4b 2px solid;
  border-radius: 25px;
  font-family: monaco;
}

input {
  font-family: monaco;
  margin: 10px;
  width: 30%;
  text-align: center;
  border: #e76a4b 2px solid;
  border-radius: 25px;
}

.welcome {
  padding: 50px;
  margin: auto;
  text-align: center;
  background-color: #fef2eb;
  width: 50%;
}

#buttonArea {
  padding: 20px;
}

#characterBox {
  /* display: flex; */
  width: 70%;
  margin: auto;
  padding: 25px;
}

.responsive-img:hover {
  transform: scale(1.3);
  box-shadow: 1 0 10px rgba(0, 0, 0, 0.5);
}

.selectedChar {
  transform: scale(1.3);
  box-shadow: 10 10px rgba(0, 0, 0, 0.5);
}

.unselectedChar {
  filter: grayscale(100%);
}

.playerName {
  color: #2a9d8f;
}

#gameView {
  display: flex;
  justify-content: center;
}

.leftside {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

#theGame {
  display: flex;
  border-style: solid;
  border-color: black;
  border-width: 5px;
}

.rightside {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.singlePlayerBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #a39bb0;
  border-style: ridge;
  border-width: 1rem;
  border-color: #fef2eb;
  width: 200px;
  flex-basis: 250px;
  max-width: 200px;
  margin-bottom: 5rem;
}

.singlePlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.scoreBar {
  display: flex;
  justify-content: center;
  width: 150px;
  background-color: #fef2eb;
  margin-bottom: 0.5rem;
}

#scoreTech {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 2;
}

#scoreIcon {
  display: flex;
  align-items: center;
  flex-grow: 2;
  justify-content: center;
  margin-bottom: 0.75rem;
}

#scoreBarsBox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#scoreIcon img {
  max-width: 75%;
  max-height: 18vh;
}

.scoreTechPiece {
  display: flex;
  max-width: 90%;
  margin: 0.2rem;
}

.circle {
  height: 3rem;
  width: 3rem;
  background-color: #2a9d8f;
  border-radius: 50%;
}

/* For the catergories' circle colors */
#algorithm {
  background-color: #264653;
}

#backend {
  background-color: #e9c46a;
}

#frontend {
  background-color: #f4a261;
}

#misc {
  background-color: #e76a4b;
}

#ui {
  background-color: #2a9d8f;
}

.modalBox {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.answerChoices {
  display: flex;
  flex-direction: column;
}

.form-radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form-radio-input {
  flex-grow: 1;
  max-width: 5%;
}

.form-radio label {
  flex-grow: 5;
  text-align: left;
}

.gameStarted {
  display: none;
}

#topBar {
  display: flex;
  justify-content: center;
  min-height: 4vmax;
}

/*# sourceMappingURL=style.css.map */
